.project-main {
    padding-top: 159px;
    padding-bottom: 158px;
    padding-left: 360px;
    background: url("/public/images/project-main-bg.png") no-repeat;
    background-position-y: -166px;
}

.project-main-pattern {
    width: 4px;
    height: 23px;
    background-color: rgba(255, 182, 41, 1);
}

.project-main-above {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: rgba(4, 28, 55, 0.5);
    font-size: 14px;
    color: #FFFFFF;
}

.project-main-title {
    margin-top: 11px;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.project-details {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 359px;
    padding-right: 359px;
    background-color: #F4F4F4;
}

.project-details-title,
.project-transportation-title,
.project-video-title,
.project-related-title {
    font-weight: 600;
    font-size: 35px;
    color: #1C1F35;
}

.project-details-content {
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
}

.details-content-bl {
    gap: 27px;
}

.details-content-bl .content-bl-cat {
    width: 73.14px;
    font-weight: 500;
    font-size: 20px;
    color: #1C1F35;
}


.details-content-bl .content-bl-title {
    font-size: 20px;
    color: #1C1F35;
}

.project-transportation {
    margin-top: 100px;
    margin-left: 360px;
    margin-right: 361px;
}

.project-transportation-desc,
.project-video-desc {
    margin-top: 12px;
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.5%;
    color: #666C89;
}

.project-transportation-list {
    margin-top: 30px;
    margin-left: 20px;
    flex-direction: column;
    gap: 25px;
    list-style-image: url("/public/images/vector.png");
}

.project-transportation-list li {
    font-size: 20px;
    color: #1C1F35;
}

.project-video {
    margin-top: 100px;
    margin-left: 360px;
    margin-right: 360px;
}

.project-video-content {
    margin-top: 30px;
}

.project-related {
    margin-top: 100px;
    margin-left: 360px;
    margin-right: 361px;
}

.project-related-box {
    margin-top: 35px;
}

.project-related-item {
    position: relative;

}

.related-item-hover {
    width: 292px;
    height: 322px;
    padding-top: 132px;
    background-color: #1C1F35;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 40px;
} 

.project-related-item:hover .related-item-hover {
    display: block;
} 
