.projects-main {
    padding-top: 159px;
    padding-bottom: 158px;
    padding-left: 360px;
    background: url("/public/images/projects-main-bg.png") no-repeat;
    background-position-y: -166px;
}

.projects-main-pattern {
    width: 4px;
    height: 23px;
    background-color: rgba(255, 182, 41, 1);
}

.projects-main-above {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: rgba(4, 28, 55, 0.5);
    font-size: 14px;
    color: #FFFFFF;
}

.projects-main-title {
    margin-top: 11px;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.projects-gallery {
    margin-top: 100px;
    margin-left: 360px;
    margin-right: 361px;
    flex-wrap: wrap;
    gap: 18px;
}

.projects-gallery-item {
    position: relative;
}

.gallery-item-hover {
    width: 292px;
    height: 322px;
    padding-top: 132px;
    background-color: #1C1F35;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 40px;
} 

.projects-gallery-item:hover .gallery-item-hover {
    display: block;
}